@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");
body {
  background-color: #e8e9e4;
  font-family: "Nunito", sans-serif;
}
.c {
  font-size: 1.2em;
}
code,
li,
p {
  font-size: 1.2em;
}
header {
  z-index: 10;
  width: 100%;
  background: #e8e9e4;
}
.navbar {
  padding: 20px 0;
}
.navbar-brand {
  font-weight: 800;
  font-size: 2em;
  color: #262626;
}
.nav-item {
  font-weight: 800;
}
.navbar-light .navbar-nav .nav-item.active .nav-link {
  background: #262626;
  color: #fff;
}
.navbar-light .navbar-nav .nav-item.active .nav-link {
  color: #fff;
  padding: 5px 15px;
}
.navbar-light .navbar-toggler {
  border: none;
  color: #fff;
  border: 2px solid #7f7f7f;
  border-radius: 0;
  outline: none;
}
.b {
  font-weight: 800;
  background: #262626;
  color: #fff;
  padding: 10px 25px;
}
.b:hover {
  font-weight: 800;
  background: #262626;
  color: #fff;
}
.rb {
  padding: 10px 15px;
}
.dropdown-menu {
  background: #e8e9e4;
  border: none;
  border-radius: 0;
  padding: -12;
}
.dropdown-item:hover {
  background: #262626;
  color: #fff;
  padding: 5px 15px;
}
.navbar-collapse {
  background: #e8e9e4;
}
h1 {
  background: #262626;
  color: #fff;
  padding: 5px 15px;
}
#scroll {
  position: fixed;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #4d4d4da2;
  text-indent: -9999px;
  display: none;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
}
#scroll span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -12px;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-bottom-color: #ffffff;
}
#scroll:hover {
  background-color: #000000ce;
  opacity: 1;
  filter: "alpha(opacity=100)";
  -ms-filter: "alpha(opacity=100)";
}
