@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");
body {
  margin: 0;
  font-family: "Nunito", sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
